@model ForgetPasswordViewModel

@{
    ViewData["Title"] = "فراموشی رمز عبور";
}

<div class="loader d-flex justify-content-center align-items-center" style="display: block;">
    <i class="fa fa-circle-notch fa-3x text-white fa-spin"></i>
</div>

<div class="container my-4" style="display:none;">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-12">

            <div class="card border-primary" style="margin:68px 0">
                <div class="card-header">
                    <i class="fa fa-question ml-2"></i> @ViewData["Title"]
                </div>
                <div class="card-body">

                    <form asp-area="" asp-controller="Account" asp-action="ForgetPassword" method="post">

                        @if (ViewData["NotValid"] != null)
                        {
                            <!-- user inputs is not valid -->
                            <div class="alert alert-danger">
                                @ViewData["NotValid"]
                            </div>
                        }

                        <div asp-validation-summary="ModelOnly"></div>

                        <!-- email -->
                        <div class="form-group mb-2">
                            <label asp-for="Email"></label>
                            <input type="text"
                                   asp-for="Email"
                                   class="form-control text-direction-ltr text-left english-font" />

                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <!-- submit -->
                            <button type="submit"
                                    class="btn rounded-pill px-5 bg-purple bg-purple-hover text-white my-4">
                                ارسال ایمیل بازنشانی
                            </button>
                        </div>

                        <div class="my-1">
                            حساب کاربری دارید؟
                            <a asp-controller="Account" asp-action="Login"
                               class="btn btn-link mx-1">
                                ورود به دیجی معلم
                            </a>
                        </div>

                    </form>
                </div>
            </div>

        </div>
        <div class="col-lg-6 col-md-6 col-12">

            <div>
                <img src="~/images/resources/teach.svg"
                     alt="لوگو دیجی معلم"
                     class="img-fluid d-block mx-auto py-5"
                     style="max-height:550px"
                     asp-append-version="true" />
            </div>

        </div>
    </div>
</div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
<script src="~/js/main.js"></script>
    }
