################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DigiMoallem.Web/bin/Debug/netcoreapp2.2
/DigiMoallem.BLL/bin/Debug/netcoreapp3.1
/DigiMoallem.DAL/bin/Debug/netcoreapp3.1
