@font-face {
    font-family: 'BYekan';
    src: url(../fonts/BYekan.eot);
    src: url(../Fonts/BYekan.eot?#iefix) format("embedded-opentype"),url(../fonts/BYekan.woff) format("woff"),url(../Fonts//BYekan.ttf) format("truetype"),url(../Fonts//BYekan.svg) format("svg");
    font-weight: 400;
    font-style: normal
}

* {
    font-family: 'BYekan',Tahoma,Helvetica,sans-serif;
}
