
@{
    ViewData["Title"] = "راهنما";
}

@section Styles {
    <style>
        .accordion {
            background-color: #eee;
            color: #444;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: right;
            outline: none;
            font-size: 15px;
            transition: 0.4s;
        }

        .active-1 .accordion:hover {
            background-color: #ccc;
        }

        .panel {
            padding: 0 18px;
            display: none;
            background-color: white;
            overflow: hidden;
        }

        .accordion:after {
            content: '\02795'; /* Unicode character for "plus" sign (+) */
            font-size: 13px;
            color: #777;
            float: right;
            margin-left: 5px;
        }

        .active-1:after {
            content: "\2796"; /* Unicode character for "minus" sign (-) */
        }
    </style>
}

<div class="container my-4">

    <div class="row">

        <div class="col-12 col-md-9">

            <div class="card">
                <div class="card-header">
                    <i class="fa fa-question"></i> @ViewData["Title"]
                </div>
                <div class="card-body">

                    <ul class="nav nav-tabs small">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#home">
                                همکاری با دیجی معلم
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#files">
                                فایل‌های مورد نیاز
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#standard">
                                استانداردهای دیجی معلم
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#production">
                                قوانین تولید
                            </a>
                        </li>
                    </ul>
                    <div id="myTabContent" class="tab-content">

                        <div class="tab-pane fade active show" id="home">

                            <div class="mt-4">
                                <div class="row">
                                    <div class="col-12 col-md-3">
                                        <img src="~/images/resources/70-percent.png" alt="70 درصد" class="img-fluid d-block mx-auto" />
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <h5 class="border-bottom border-dark py-3">درصد همکاری با دیجی معلم چگونه است ؟</h5>
                                        <p class="text-justify">دیجی معلم تنها بستر عرضهٔ محتوا است و تولیدکننده را در فروش آن سهیم می‌کند. دیجی معلم برای محتوای رایگان هیچ مبلغی را از تولیدکننده دریافت نخواهد کرد و همواره بازاریابی را بر روی محتوا انجام خواهد داد. اگر محتوا خریدنی (برای فروش) باشد و به‌صورت انحصاری در دیجی معلم قرار داده شود، ٪۷۰ از فروش به تولیدکننده تقدیم می‌گردد. و برای محتوایی که خارج از دیجی معلم نیز به صورت آنلاین منتشر شود، ٪۵۰ از فروش به تولیدکننده تقدیم خواهد شد. دیجی معلم محتوا را به هیچ‌وجه نمی‌خرد و دستمزد نمی‌پردازد.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="mt-4">
                                <div class="row">
                                    <div class="col-12 col-md-3">
                                        <img src="~/images/resources/judge.png" alt="70 درصد" class="img-fluid d-block mx-auto" />
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <h5 class="border-bottom border-dark py-3">
                                            محتوای من چقدر می ارزد؟
                                        </h5>
                                        <p class="text-justify">ارزش گذاری محتوای تولیدکنندگان بر عهدهٔ خود آنها است. اما دیجی معلم بر اساس معیارهای مختلف رشد بازار و قیمت‌های رقابتی، بازهٔ قیمت را به تولید‌کننده پیشنهاد خواهد داد. تولیدکننده می‌تواند بر اساس تشخیص و سیاست‌های رقابتی خود، قیمت نهایی را مشخص کند.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="mt-4">
                                <div class="row">
                                    <div class="col-12 col-md-3">
                                        <img src="~/images/resources/coins.png" alt="70 درصد" class="img-fluid d-block mx-auto" />
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <h5 class="border-bottom border-dark py-3">
                                            نحوه و شرایط تسویه در دیجی معلم چگونه است ؟
                                        </h5>
                                        <p class="text-justify">در پنل دیجی معلم لیست کاملی از فروش، درآمد، میزان بازخورد، و تعداد شرکت‌کنندگان در اختیار شما قرار می‌گیرد تا در تولید آموزش‌های بهتر به شما کمک کند. در صورتی که مبلغ حساب شما بیشتر از ۱۰۰ هزارتومان باشد، در هر زمانی که مایل بودید می‌توانید درخواست تسویه حساب خودتان را بدهید. دیجی معلم در روز پانزدهم هر ماه به درخواست‌های تسویه رسیدگی می‌کند و ظرف مدت ۷۲ ساعت از پایان وقت اداری پانزدهم ماه شمسی مبلغ مورد درخواست به حساب اساتید واریز خواهد شد.</p>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="tab-pane fade" id="files">

                            <div class="mt-4">
                                <h5 class="border-bottom border-dark py-3">
                                    فایل‌های مورد نیاز شما
                                </h5>

                                <ul>
                                    <li>
                                        <a href="#" class="btn btn-link">
                                            واتر مارک
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="btn btn-link">
                                            فرمهای مورد نیاز
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="btn btn-link">
                                            نرم افزار کمتازیا
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="btn btn-link">
                                            اسلایدها
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="btn btn-link">
                                            راهنمای پاورپوینت
                                        </a>
                                    </li>
                                </ul>

                            </div>

                        </div>

                        <div class="tab-pane fade" id="standard">

                            <div class="my-4">

                                <h5 class="border-bottom border-dark py-3">استانداردهای دیجی معلم برای تولید ویدئوهای آموزشی</h5>

                                <button class="accordion">کیفیت تصویر</button>
                                <div class="panel">
                                    <ul>
                                        <li>نرم افزار Camtasia نرم‌افزار مناسبی برای ضبط و ادیت ویدئوهای آموزشی است و به شما این امکان را می‌دهد که در صورت نیاز، صدا و تصویر را به صورت جداگانه با نرم‌افزارهای مختلف ضبط کرده و وارد این نرم افزار کنید. پیشنهاد می‌کنیم آموزش ضبط ویدئوی آموزشی توسط کمتاسیا را ببینید تا بتوانید آموزش باکیفیت‌تری تولید کنید.</li>
                                        <li>قطع اسلاید هایی که به شما داده شده با نسبت 16:9 است. دقت کنید که هنگام ضبط با پاورپوینت حتما از قطع 16:9 استفاده کنید. برای تغییر نسبت در پاورپوینت می‌توانید  از این تصویر  کمک بگیرید.</li>
                                        <li>
                                            از آنجا که ممکن است طراحی فایل‌ها به روز شود، دقت کنید که حتما از به‌روزترین اسلایدها استفاده کنید.
                                            اندازه تصویر در ویدئوی آموزشی باید به گونه‌ای باشد که کاربر بتواند به راحتی جزئیات تصویر را مشاهده و آموزش را دنبال کند. پشنهاد دیجی معلم (1280×720)HD است.
                                        </li>
                                        <li>ترجیحا از بزرگنمایی تصاویر بی‌کیفیت خودداری کنید چراکه تصویر را پیکسلی نشان داده و تجربهٔ مناسبی را برای کاربران ایجاد نمی‌کند.</li>
                                        <li>دیجی معلم محتوای آموزشی را به نام خود شما منتشر می‌کند و شما مي‌توانيد در پروفايل دیجی معلم و همین‌طور اسلاید دوره که در اختیار شما قرار می‌گیرد، رزومهٔ کاری، لینک شبکه‌های اجتماعی و وب سایت شخصي خودتان را قرار بدهید. بنابراین نیازی نیست درون محتوای ویدئویی تبلیغات کنید، یا چهرهٔ خودتان را در فیلم قرار بدهید یا زیرنویس و واترمارک در آموزش بگذارید. البته این به معنای آن نیست که نیازی به معرفی خودتان نیست.</li>
                                    </ul>
                                </div>

                                <button class="accordion">کیفیت صدا</button>
                                <div class="panel">
                                    <ul>
                                        <li>صدای رسا و با کیفیت یکی از مهمترین ویژگی‌های ویدئوهای آموزشی است. کاربران دوست دارند صدایی که می‌شوند بدون نویز باشد و نسبت به صدای بی‌کیفیت واکنش منفی نشان می‌دهند.</li>
                                        <li>برای صدای خوب، الزاما نیازی به میکروفون گران‌قیمت ندارید. بلکه برای مطمئن شدن از کیفیت صدا، حتما قبل از ضبط با سیستم‌ها، تنظیمات و میکروفون‌های مختلف صدای خود را تست کنید.</li>
                                        <li>
                                            در آموزش های خودتون از موسیقی استفاده نکنید.
                                            در صورت استفاده از موزیک حتما به این نکته توجه کنید که صدای موزیک مانع شنیده شدن صدای شما نشود و همچنین موزیک انتخابی متناسب با موضوع و شیوهٔ ارائهٔ شما باش
                                        </li>
                                    </ul>
                                </div>

                                <button class="accordion">نحوه بیان</button>
                                <div class="panel">
                                    <ul>
                                        <li>لطفا قبل از ضبط حتما چندین بار تمرین کنید تا مطالب را بتوانید به خوبی و بدون تپق زدن انتقال بدهید، چرا که کاربران دوست دارند مدرس کاملا به مبحث مسلط باشد. وقتی تولیدکننده برای به خاطر آوردن چیزی فکر کند، کاربر این موضوع را به حساب عدم تسلط کافی برای انتقال محتوا می‌گذارد.</li>
                                        <li>
                                            یکی از مهمترین وجوه تمایز تولیدکنندگان، بیان خوب و انتقال مناسب محتوا به کاربران است. تولیدکنندگان باید به موضوع آموزشی خود تسلط داشته باشند و بتوانند به راحتی آن را به کاربران خود منتقل کنند. تلفظ صحیح کلمات فارسی و انگلیسی نیز در بیان تاثیر مستقیم داشته و در انتقال مناسب و صحیح محتوا به کاربران نقش مهمی دارد.
                                        </li>
                                        <li>
                                            برای اینکه کاربران بیشتر با شما و محتوای ارتباط برقرار کنند، بهتر است که با انرژی صحبت کنید.
                                        </li>
                                        <li>
                                            یکی از ویژگی‌های مهم ویدئوهای آموزشی، مسئله ضرباهنگ یا بی‌وقفه بودن(Non-Stop) انتقال اطلاعات است، بنابراین بهتر است برای رضایت کاربران از اتلاف زمان آنها خودداری کنید. به عنوان مثال اتلاف زمان برای پیدا کردن عکس و نوشته.
                                            شما می‌توانید قبل از ضبط، فایل‌های مورد نیاز آموزش را در یک فولدر نگهداری کنید تا در صورت نیاز به راحتی به آنها دسترسی داشته باشید.
                                        </li>
                                        <li>
                                            از صحبت زیاد و بدون حرکت در یک اسلاید خودداری کنید چرا که یکی از وجوه تمایز ویدئو و کتاب، انتقال مفاهیم از طریق حافظه بصری است.
                                            نیازی به موشن گرافیک و جلوه‌های بصری خاصی نیست و با انیمیشن‌های پاورپوینت و نشان دادن تصاویر مربوط می‌شود مفاهیم را بهتر انتقال داد.
                                        </li>
                                        <li>از آنجا که محتوای شما به نام خودتان در دیجی معلم منتشر می‌شود، بنابراین محتوا تأثیر مستقیم در برندینگ شما و معرفی‌تان به دیگران دارد، و در نتیجه محتوای باکیفیت از فروش بهتری برخوردار خواهد شد.</li>
                                    </ul>
                                </div>

                                <button class="accordion">ویدیوی معرفی</button>
                                <div class="panel">
                                    <ul>
                                        <li>
                                            ویدئوی معرفی مناسب، به کاربران کمک می‌کند تا با اعتماد بیشتری محتوای شما را برای یادگیری انتخاب نمایند.
                                            ویدئوی معرفی شامل توضیحاتی در مورد اطلاعاتی است که در این دوره به کاربران انتقال داده می‌شود.
                                            برای ترغیب کاربران به مشاهدهٔ ویدئوی معرفی شما، توصیه می‌کنیم ویدئوی معرفی شما حداکثر سه دقیقه باشد.
                                            موضوعاتی که بهتر است در ویدئوی معرفی به آن اشاره کنید شامل موارد زیر می‌شود:
                                            معرفی مدرس
                                            سابقه (در صورت تمایل)
                                            موضوع دوره و موضوعاتی که در دوره به آن اشاره خواهد شد
                                            این دوره برای چه کسانی مناسب است
                                            پیش نیاز دوره چیست
                                            در انتها کاربران چه چیزی را یاد می‌گیرند
                                        </li>
                                    </ul>
                                </div>

                                <button class="accordion">بخش‌بندی آموزش</button>
                                <div class="panel">
                                    <ul>
                                        <li>
                                            کاربران ویدئوهای کوتاه و گام‌به‌گام را راحت‌تر دنبال می‌کنند. بنابراین جهت انتقال بهتر مفاهیم و یادگیری بهتر کاربران، توصیه می‌شود دوره آموزشی خود را به انتخاب خودتان، به بخش‌های کوچک چند دقیقه‌ای تقسیم کنید. بهترین زمان برای هر ویدیو کمتر از ۷ دقیقه است، مگر آنکه مبحث در این زمان نگنجد. اگر ویدیوی شما بلندتر از این زمان شد سعی کنید ضرباهنگ آن را حفظ کنید تا کسل‌کننده نشود و حواس یادگیرنده پرت نشود. ویدئوهای کوتاه، تأثیر زیادی در سهولت یادگیری و حفظ توجه و تمرکز کاربر دارد و مسیر آموزش را به روشنی برای کاربران مشخص می‌کند.
                                        </li>
                                        <li>
                                            فایدهٔ دیگر تقسیم آموزش به ویدئوهای کوتاه این است که باعث می‌شود موضوعات در ویدئوهای مجزا قرار بگیرد و به کاربران کمک می‌کند که راحت‌تر موضوعی که دنبالش هستند را پیدا کنند. این کار یادگیری کاربر را راحت‌تر می‌کند.
                                        </li>
                                    </ul>
                                </div>

                                <button class="accordion">انتخاب موضوع</button>
                                <div class="panel">
                                    <ul>
                                        <li>
                                            انتخاب موضوعاتی که کمتر یا به صورت سطحی در مورد آن در وب فارسی صحبت شده، می‌تواند یکی از رموز موفقیت ویدئوی آموزشی شما باشد.
                                        </li>
                                    </ul>
                                </div>

                                <ul>
                                    <li>انتخاب موضوعاتی که کمتر یا به صورت سطحی در مورد آن در وب فارسی صحبت شده، می‌تواند یکی از رموز موفقیت ویدئوی آموزشی شما باشد.</li>
                                </ul>
                            </div>

                        </div>

                        <div class="tab-pane fade" id="production">

                            <div class="mt-4">
                                <h5 class="border-bottom border-dark py-3">
                                    قوانین تولید
                                </h5>

                                <ul>
                                    <li>در صورت مشاهده هرگونه تبلیغات در ویدیوی آموزشی (ویدیویی، صوتی، واترمارک، لوگو، کپشن و زیرنویس)، دوره جهت اصلاح به مدرس عودت داده خواهد شد. اگر تبلیغات موردنظر پس از بارگذاری دوره در دیجی معلم محرز شود دوره تا زمان رفع مشکل، از دسترس عموم خارج خواهد شد.</li>
                                    <li>دیجی معلم هیچ‌گونه تغییری در محتوای دوره مانند ویدیو، صدا و کیفیت نخواهد داد و فایل آموزشی داخل سایت بارگزاری می‌شود.</li>
                                    <li>دیجی معلم تنها اقدام به انتشار محتوایی می‌کند که به شکل کامل با قوانین دیجی معلم منطبق باشد.</li>
                                    <li>هر دوره ‌‌آموزشی باید دارای ویدیوی «معرفی دوره» باشد، در غیر این صورت اولین ویدیو، به عنوان ویدیوی معرفی، به شکل رایگان در اختیار کاربران قرار خواهد گرفت.</li>
                                    <li>مسئولیت هرگونه رفع اشکال در تولید و محتوای دوره بر عهده مدرس است.</li>
                                    <li>هر دوره آموزشی برای انتشار به فرم توضیحات نیاز دارد، که باید به شکل کامل و دقیق توسط مدرس تکمیل شود. عدم تکمیل هر یک از بخش‌های فرم باعث بازگشت دوره به مدرس جهت اصلاح خواهد شد. توضیحات مورد نیاز جهت تکمیل فرم، در داخل فرم نمونه به شکل کامل ارائه شده است.</li>
                                    <li>فایل ارسالی شامل ویدیوها، فایل توضیحات دوره و فایل‌های پروژه (اگر وجود داشته باشد) است.</li>
                                    <li>امکان به‌روزرسانی آموزش در دیجی معلم برای تولیدکنندگان در نظر گرفته شده است. البته باید به این نکته توجه داشته باشید که کاربرانی که از قبل در آن دوره ثبت نام کرده‌اند به آپدیت‌های شما دسترسی دارند و امکان فروش مجدد دوره وجود ندارد.</li>
                                    <li>ما همواره بهترین تلاش خود را خواهیم کرد که در کوتاه‌ترین زمان ممکن، پاسخ کلیه درخواست‌ها را ارسال کنیم؛ اما به طور معمول، زمان پاسخگویی به هر درخواست، ۳ روز کاری است.</li>
                                </ul>

                            </div>

                        </div>

                    </div>

                </div>
            </div>

        </div>

        <div class="col-12 col-md-3">

            <img src="~/images/resources/logo.png"
                 alt="لوگو دیجی معلم"
                 class="img-fluid d-block mx-auto" />

        </div>

    </div>

</div>

@section Scripts {
    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function () {
                this.classList.toggle("active-1");
                var panel = this.nextElementSibling;
                if (panel.style.display === "block") {
                    panel.style.display = "none";
                } else {
                    panel.style.display = "block";
                }
            });
        }
    </script>
}