@page
@model DigiMoallem.Web.Pages.Admin.Orders.CreateModel

@{
    ViewData["Title"] = "خرید دوره با کاربر";
}

<div class="container">

    <h1 class="m-4">@ViewData["Title"]</h1>

    <form method="post" enctype="multipart/form-data" class="form-group">

        @if (ViewData["Message"] != null)
        {
            <div class="alert alert-danger">
                @ViewData["Message"]
            </div>
        }

        <div class="row">

            <div class="col-12 col-sm-6">
                <!-- users list -->
                <div class="form-group">
                    <label for="exampleSelect2">ایمیل کاربر</label>
                    <select class="form-control select-list" 
                            asp-for="UserCourse.UserId" 
                            asp-items="Model.Users">
                        <option value="" disabled selected>یکی از کاربران را انتخاب نمایید</option>
                    </select>

                    <span asp-validation-for="UserCourse.UserId" class="text-danger"></span>
                </div>

                <div class="form-group my-5">
                    <button type="submit" class="btn btn-outline-warning">
                        <i class="fas fa-edit ml-2"></i> خرید درس
                    </button>
                </div>
            </div>

            <div class="col-12 col-sm-6">
                <div class="form-group">
                    <label for="exampleSelect2">نام دوره آموزشی</label>
                    <select class="form-control select-list"
                            asp-for="UserCourse.CourseId"
                            asp-items="Model.Courses">
                        <option value="" disabled selected>یکی از دوره ها را انتخاب نمایید</option>
                    </select>

                    <span asp-validation-for="UserCourse.CourseId" class="text-danger"></span>
                </div>
            </div>

        </div>

    </form>

</div>

@section Scripts {
    <script src="~/Admin/Scripts/Site.js"></script>
}