@model EditProfileViewModel

@{
    ViewData["Title"] = "ویرایش حساب کاربری";
}

<div class="loader d-flex justify-content-center align-items-center" style="display: block;">
    <i class="fa fa-circle-notch fa-3x text-white fa-spin"></i>
</div>

<div class="container my-4" style="display:none;">

    <div class="row">

        <div class="col-12 col-md-8">

            <div class="card">
                <div class="card-header">
                    <i class="fa fa-user-edit ml-1"></i> @ViewData["Title"]
                </div>
                <div class="card-body">

                    <form method="post">

                        <div asp-validation-summary="ModelOnly"></div>

                        <input type="hidden" asp-for="ImageName" />

                        @if (ViewData["DbFailure"] != null)
                        {
                            <div class="alert alert-success">
                                @ViewData["DbFailure"]
                            </div>
                        }

                        <!-- email -->
                        <div class="form-group">
                            <label asp-for="Email"></label>
                            <input type="text"
                                   class="form-control text-direction-ltr text-left english-font"
                                   placeholder="Example@@domain.com"
                                   asp-for="Email" />

                            <span class="text-danger" asp-validation-for="Email"></span>
                        </div>

                        <div class="row m-0">
                            <div class="col-12 col-sm-6">
                                <!-- firstname -->
                                <div class="form-group">
                                    <label asp-for="FirstName"></label>
                                    <input type="text"
                                           class="form-control"
                                           asp-for="FirstName" />

                                    <span class="text-danger" asp-validation-for="FirstName"></span>
                                </div>
                            </div>

                            <div class="col-12 col-sm-6">
                                <!-- lastname -->
                                <div class="form-group">
                                    <label asp-for="LastName"></label>
                                    <input type="text"
                                           class="form-control"
                                           asp-for="LastName" />

                                    <span class="text-danger" asp-validation-for="LastName"></span>
                                </div>
                            </div>
                        </div>

                        <!-- phone number -->
                        <div class="form-group">
                            <label asp-for="PhoneNumber"></label>
                            <input type="tel"
                                   class="form-control text-direction-ltr text-left english-font"
                                   placeholder="09XXXXXXXXX"
                                   asp-for="PhoneNumber" />

                            <span class="text-danger" asp-validation-for="PhoneNumber"></span>
                        </div>

                        <!-- scientific field -->
                        <div class="form-group">
                            <label asp-for="ScientificField"></label>
                            <input type="text"
                                   class="form-control"
                                   asp-for="ScientificField" />

                            <span class="text-danger" asp-validation-for="ScientificField"></span>
                        </div>

                        <!-- description -->
                        <div class="form-group">
                            <label asp-for="Description"></label>
                            <textarea asp-for="Description" class="form-control" rows="4"></textarea>
                        </div>

                        <!-- skills -->
                        <div class="form-group">
                            <label asp-for="Skills"></label>
                            <textarea asp-for="Skills" class="form-control" rows="4"></textarea>

                            <div class="alert alert-secondary p-2">
                                <strong>توجه:</strong> مهارت های خود را با - از یکدیگر جدا کنید.
                            </div>
                        </div>

                        <!-- experiences -->
                        <div class="form-group">
                            <label asp-for="Experiences"></label>
                            <textarea asp-for="Experiences" class="form-control" rows="4"></textarea>

                            <div class="alert alert-secondary p-2">
                                <strong>توجه:</strong> سوابق کاری خود را با - از یکدیگر جدا کنید.
                            </div>
                        </div>

                        <div class="form-group">
                            <img id="display-image"
                                 src="~/Images/Avatars/@Model.ImageName"
                                 class="img-fluid mx-auto rounded my-2 display-block"
                                 style="max-width:100px"
                                 alt="@User.Identity.Name" />

                            <div class="form-group">
                                <div class="input-group my-4 w-100 max-width-520px">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input"
                                               asp-for="UserAvatar"
                                               id="image" />
                                        <label class="custom-file-label" style="padding-right:6rem"
                                               asp-for="UserAvatar">انتخاب فایل</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <button class="btn btn-primary rounded-pill">
                                <i class="fa fa-pen ml-2"></i> ویرایش پروفایل
                            </button>
                        </div>

                    </form>

                </div>
            </div>

        </div>

        <div class="col-12 col-md-4">

            <partial name="_SidebarPartial" />

        </div>

    </div>

</div>

@section Scripts {
    <script src="~/js/main.js"></script>
}