@page "{id}"
@model DigiMoallem.Web.Pages.Admin.Groups.DeleteModel

    <div class="container">

        <a asp-area=""
           asp-page="Index"
           class="btn btn-outline-info">
            <i class="fa fa-arrow-right ml-1"></i> بازگشت
        </a>

        <h1 class="m-4">@ViewData["Title"]</h1>

        <form method="post" class="md-form">

            @if (ViewData["Failure"] != null)
            {
                <div class="alert alert-danger">
                    @ViewData["Failure"]
                </div>
            }

            <div class="card">
                <div class="card-header">@Model.Group.Title</div>
                <div class="card-body">
                    <input type="hidden" asp-for="Group.GroupId" />
                    <input type="hidden" asp-for="Group.ParentId" />
                    <input type="hidden" asp-for="Group.Title" />
                    <input type="hidden" asp-for="Group.ImageName" />

                    <div class="form-group">
                        <button type="submit" class="btn btn-outline-danger">
                            <i class="fa fa-trash ml-1"></i> حذف گروه
                        </button>
                    </div>
                </div>
            </div>

        </form>

    </div>