@model User

<div style="direction:rtl; padding: 1.5rem; border:3px inset black;border-radius:5px;max-width: 450px; margin:0 auto;background-color: #fff;color:#333;text-align:center">

    <h2> نام کاربری: @Model.UserName </h2>
    <p>
        با تشکر از ثبت نام شما در سامانه دیجی معلم، جهت فعال سازی حساب کاربری خود کافی است روی
        <a href="https://digimoallem.ir/Account/ActiveAccount/@Model.ActivationCode"> این لینک</a>
        کلیک کنید.
    </p>

    <hr />

    <p style="text-align: center;">
        <a href="https://digimoallem.ir" style="display: block;color:#fff;padding: 8px 0;">
            سایت دیجی معلم
        </a>
    </p>

    <img src="https://digimoallem.ir/images/resources/logo.png"
         alt="لوگو دیجی معلّم"
         style="display:block;margin:16px auto;max-width: 100%" />

</div>