    <div class="row mx-3">
    <div class="col-12 col-sm-3">
        <h5 class="border-bottom border-dark pb-3">دسترسی های سریع</h5>
        <ul class="list-unstyled p-0 text-small">
            <li><a class="text-muted d-inline-block my-1" asp-area="" asp-controller="Home" asp-action="Index">صفحه اصلی</a></li>
            <li><a class="text-muted d-inline-block my-1" asp-area="" asp-controller="Home" asp-action="About">درباره ما</a></li>
            <li><a class="text-muted d-inline-block my-1" asp-area="" asp-controller="Home" asp-action="Contact">تماس با ما</a></li>
            <li><a class="text-muted d-inline-block my-1" asp-area="" asp-controller="Home" asp-action="WorkWithUs">همکاری با ما</a></li>
            <li><a class="text-muted d-inline-block my-1" asp-area="" asp-controller="Home" asp-action="RoadMap">نقشه سایت</a></li>
        </ul>
    </div>
    <div class="col-12 col-sm-6">
        <h5 class="border-bottom border-dark pb-3">درباره دیجی معلم</h5>

        <p class="text-justify">سازمان علمی و آموزشی «فرادرس» (FaraDars) از قدیمی‌ترین وب‌سایت‌های یادگیری آنلاین است که توانسته طی بیش از ده سال فعالیت خود بالغ بر ۱۰۰۰۰ ساعت آموزش ویدیویی در قالب فراتر از ۲۰۰۰ عنوان علمی، مهارتی و کاربردی را منتشر کند و به بزرگترین پلتفرم آموزشی ایران مبدل شود. </p>

        <img class="mb-2 d-block mx-auto" style="max-width:100px" src="~/images/resources/logo.png" alt="لوگو معلم سئو" />

    </div>
    <div class="col-12 col-sm-3">
        <h5 class="border-bottom border-dark pb-3">امتیازات و مجوزها</h5>

        <img src="~/images/resources/e-namad.png" alt="" class="img-fluid" />
        <img src="~/images/resources/nashr.png" alt="" class="img-fluid" />
        <img src="~/images/resources/samandehi.png" alt="" class="img-fluid" />

    </div>
</div>