@inject IPermissionService permissionService

<!DOCTYPE html>
<html dir="rtl" lang="fa-IR">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title | دیجی معلم</title>

    <partial name="_StylesPartial" />
    @RenderSection("Styles", required: false)
</head>
<body class="bg-image">

    <div class="bg-white-transparent">
        <header>
            <!-- navigation menu -->
            <partial name="_NavbarPartial" />

            @if (User.Identity.IsAuthenticated)
            {
                <div class="clearfix my-3">
                    @if (permissionService.CheckPermission(22, User.Identity.Name))
                    {
                        <a asp-area="" asp-controller="Home" asp-action="Help"
                           class="btn btn-info btn-sm float-left m-1">
                            <i class="fa fa-question ml-1"></i> راهنما اساتید
                        </a>
                        <a asp-area="" asp-page="/Admin/Courses/Teacher"
                           class="btn btn-secondary btn-sm float-right m-1">
                            <i class="fa fa-list-alt ml-1"></i> مدیریت دروس
                        </a>
                    }
                    <!-- user orders -->
                    <a asp-area="UserPanel" asp-controller="Order" asp-action="ShowFactors"
                       class="btn btn-success btn-sm float-left m-1">
                        <i class="fa fa-list-ul ml-1"></i> سفارشات من
                    </a>

                    <!-- user transactions -->
                    <a asp-area="UserPanel" asp-controller="Transaction" asp-action="Index"
                       class="btn btn-warning btn-sm float-right m-1">
                        <i class="fas fa-wallet ml-1"></i> شارژ حساب
                    </a>

                    @if (permissionService.CheckPermission(2, User.Identity.Name))
                    {
                        <a asp-area="" asp-page="/Admin/Dashboard"
                           class="btn btn-danger btn-sm float-right m-1">
                            <i class="fa fa-tachometer-alt ml-1"></i> داشبورد
                        </a>
                    }
                </div>
            }

        </header>

        <main>
            @RenderBody()
        </main>

        <footer class="bg-light pt-4 pt-md-5 border-top">

            <!-- footer -->
            <partial name="_FooterPartial" />

        </footer>
    </div>

    <partial name="_ScriptsPartial" />
    @RenderSection("Scripts", required: false)
</body>
</html>
