<!DOCTYPE html>
<html dir="rtl" lang="fa-IR">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title | دیجی معلم</title>

    <partial name="_StylesPartial" />
    @RenderSection("Styles", required: false)
</head>
<body class="bg-image">

    <div class="bg-white-transparent">
        <header>
            <!-- navigation menu -->
            <partial name="_NavbarPartial" />

            <div class="clearfix my-3">
                <a asp-area="" asp-controller="Home" asp-action="Help"
                   class="btn btn-info btn-sm float-left mx-3">
                    <i class="fa fa-question ml-1"></i> راهنما اساتید
                </a>
            </div>

        </header>

        <main>
            @RenderBody()
        </main>

        <footer class="bg-light pt-4 pt-md-5 border-top">

            <!-- footer -->
            <partial name="_FooterPartial" />

        </footer>
    </div>

    <partial name="_ScriptsPartial" />
    @RenderSection("Scripts", required: false)
</body>
</html>
