<!DOCTYPE html>
<html dir="rtl" lang="fa-IR">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title | دیجی معلم</title>

    <partial name="_StylesPartial" />
    @RenderSection("Styles", required: false)
</head>
<body>

    <header>

        <!-- navigation menu -->
        <partial name="_NavbarPartial" />

    </header>

    <main>
        @RenderBody()
    </main>

    <footer class="pt-4 pt-md-5 mx-3 border-top">

        <!-- footer -->
        <partial name="_FooterPartial" />

    </footer>

    <partial name="_ScriptsPartial" />
    @RenderSection("Scripts", required: false)
</body>
</html>
