<nav class="navbar navbar-expand-lg navbar-light py-2 bg-light">
    <a class="navbar-brand pl-3 font-weight-bolder" asp-area="" asp-controller="Home" asp-action="Index">
        <img src="~/images/resources/logo.png" class="img-fluid" style="max-width:75px;"
             alt="لوگو دیجی معلم" />
        دیجی معلم
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav pr-3 ml-auto">
            <li class="nav-item">
                <a class="nav-link pl-3" asp-area="" asp-controller="Home" asp-action="Index"> صفحه اصلی</a>
            </li>
            <li class="nav-item">
                <a class="nav-link pl-3" asp-area="" asp-controller="Home" asp-action="About">درباره ما</a>
            </li>
            <li class="nav-item">
                <a class="nav-link pl-3" asp-area="" asp-controller="Home" asp-action="Contact">تماس با ما</a>
            </li>
            <li class="nav-item">
                <a class="nav-link pl-3" asp-area="" asp-controller="Home" asp-action="WorkWithUs">درخواست همکاری</a>
            </li>
        </ul>

        @if (User.Identity.IsAuthenticated)
        {
            <ul class="navbar-nav pr-3 mr-auto">
                <li class="nav-item">
                    <a class="nav-link text-primary" asp-area="UserPanel" asp-controller="Home" asp-action="Index">
                        <i class="fa fa-house-user ml-1"></i> پروفایل
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger" asp-controller="Account" asp-action="Logout">
                        <i class="fa fa-sign-out-alt ml-1"></i> خروج
                    </a>
                </li>
            </ul>
        }
        else
        {
            <ul class="navbar-nav pr-3 mr-auto">
                <li class="nav-item">
                    <a class="nav-link text-primary" asp-controller="Account" asp-action="Login">
                        <i class="fa fa-sign-in-alt ml-1"></i> ورود به سایت
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-info" asp-controller="Account" asp-action="Register">
                        <i class="fa fa-user-plus ml-1"></i> ثبت نام
                    </a>
                </li>
            </ul>
        }

    </div>
</nav>