@model EditProfileViewModel

<div style="direction:rtl; padding: 1.5rem; border:3px inset black;border-radius:5px;max-width: 450px; margin:0 auto;background-color: #fff;color:#333;">
    <img src="logo.png" style="display: block;margin: 0 auto; max-width:100%" />
    <h2 style="text-align: center;"> نام کاربری: @Model.Email </h2>

    <hr />

    <p>
        کاربر گرامی شما در تاریخ @Model.UpdateDate.Value.ToPersianDate() اطلاعات کاربری خود را در سایت دیجی معلّم به روزرسانی کردید، در صورتی شخص مورد نظر شما نیستید رمز عبور خود را در اولین فرصت تغییر دهید.
    </p>

    <hr />

    <p style="text-align: center;">
        با تشکر از شما کاربر عزیز در سامانه دیجی معلم.
        <a href="https://digimoallem.ir" style="display: block;color:#fff;padding: 8px 0;">
            سایت دیجی معلم
        </a>
    </p>

    <img src="https://digimoallem.ir/images/resources/logo.png"
         alt="لوگو دیجی معلّم"
         style="display:block;margin:16px auto;max-width: 100%" />
</div>