@page "{handler?}"
@model DigiMoallem.Web.Pages.Admin.Discounts.CreateModel

@{
    ViewData["Title"] = "ایجاد کد تخفیف";
}

@section Styles {
    <link href="~/Admin/Styles/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Admin/Styles/kendo.default.min.css" rel="stylesheet" />
    <style>
        #alert {
         display:none;
        }
    </style>
}

<h1 class="my-5"> <i class="fa fa-plus ml-2"></i> @ViewData["Title"]</h1>

<!-- breadcrumb -->
<div class="bc-icons-2">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb dark-bg-admin lighten-5">
            <li class="breadcrumb-item">
                <a class="black-text" href="/Admin/Discounts">لیست تخفیف ها</a><i class="fas fa-caret-left mx-2"></i>
            </li>
            <li class="breadcrumb-item active">@ViewData["Title"]</li>
        </ol>
    </nav>

</div>

<form method="post" class="md-form">

    <div class="container">

        <div asp-validation-summary="All" class="text-danger my-4"></div>

        @if (TempData["WrongInputs"] != null)
        {
            <div class="alert alert-danger">
                @TempData["WrongInputs"]
            </div>
        }

        @if (TempData["OperationFailed"] != null)
        {
            <div class="alert alert-danger">
                @TempData["OperationFailed"]
            </div>
        }

        <div class="alert alert-danger" id="alert">کد وارد شده تکراری می باشد.</div>

        <div class="row">
            <div class="col-12 col-sm-12 col-md-8 col-lg-8">

                <!-- discount code -->
                <div class="md-form mb-4">
                    <input type="text" asp-for="Discount.DiscountCode" class="form-control">
                    <label asp-for="Discount.DiscountCode"></label>
                </div>

                <!-- percent -->
                <div class="md-form mb-4">
                    <input type="text" asp-for="Discount.DiscountPercent" class="form-control">
                    <label asp-for="Discount.DiscountPercent"></label>
                </div>

                <!-- count -->
                <div class="md-form mb-4">
                    <input type="text" asp-for="Discount.UsableCount" class="form-control">
                    <label asp-for="Discount.UsableCount"></label>
                </div>

                <div class="form-group my-5">
                    <!-- create -->
                    <button type="submit" class="btn btn-outline-success btn-sm">
                        <i class="fa fa-plus ml-2"></i> ایجاد کد تخفیف جدید
                    </button>

                    <!-- back to roles -->
                    <a asp-area=""
                       asp-page="Index" 
                       class="btn btn-outline-warning btn-sm">
                        <i class="fas fa-arrow-right ml-2"></i> بازگشت
                    </a>
                </div>

            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4">

                <!-- start date -->
                <div class="md-form mb-4">
                    <span> تاریخ شروع: </span>
                    <input id="startDate" name="startDate" class="mx-2" />
                </div>

                <!-- end date -->
                <div class="md-form mb-4">
                    <span> تاریخ اتمام: </span>
                    <input id="endDate" name="endDate" class="mx-3" />
                </div>

            </div>
        </div>

    </div>
</form>

@section Scripts {
    <script src="~/Admin/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Admin/Scripts/kendo.all.min.js"></script>
    <script>

        $("#Discount_DiscountCode").blur(function () {
            $.ajax({
                method: "get",
                url: "/Admin/Discounts/Create/CheckDiscountCode?code=" + $("#Discount_DiscountCode").val()
            }).done(function(result) {
                if (result === 'True') {
                    $("#alert").show("fast");
                } else {
                     $("#alert").hide("fast");
                }
            });
        });

        // create DatePicker from input HTML element
        $("#startDate").kendoDatePicker();

        // create DatePicker from input HTML element
        $("#endDate").kendoDatePicker();
    </script>
}