<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>

</head>
<body>

    <header>
        <partial name="_NavbarAdminPartial" />
    </header>

    <main>
        @RenderBody()
    </main>

    <footer>
        <partial name="_FooterAdminPartial" />
    </footer>

</body>
</html>