<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
    <a class="navbar-brand" asp-page="/Admin/Dashboard">
        <i class="fa fa-user-graduate ml-1"></i> دیجی معلم
    </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-page="/Admin/Users/Index">
                        <i class="fas fa-users text-success ml-2"></i> کاربران
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-page="/Admin/Roles/Index">
                        <i class="fas fa-map-pin text-danger ml-2"></i> نقش ها
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-page="/Admin/Groups/Index">
                        <i class="fas fa-list text-warning ml-2"></i> گروه ها
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-page="/Admin/Discounts/Index">
                        <i class="fas fa-percent text-light ml-2"></i> تخفیف ها
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-page="/Admin/Courses/Index">
                        <i class="fas fa-book-open text-info ml-2"></i> دروس
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-page="/Admin/Accountings/Index">
                        <i class="fas fa-calculator text-white ml-2"></i> حسابداری
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-page="/Admin/Messages/Index">
                        <i class="fas fa-envelope-open text-warning ml-2"></i> پیام ها
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-page="/Admin/Works/Index">
                        <i class="fas fa-list-alt text-danger ml-2"></i> درخواست تدریس
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-page="/Admin/Orders/All">
                        <i class="fas fa-shopping-bag text-info ml-2"></i> سفارشات
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-page="/Admin/Settings/Edit">
                        <i class="fas fa-cogs ml-2"></i> راهنما
                    </a>
                </li>
            </ul>
        </div>
    </nav>