<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- ATTENTION: iis settings for other platforms go to startup.cs -->
  <system.webServer>
    <handlers>
      <remove name="aspNetCore" />
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
      <environmentVariables>
        <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="44308" />
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        <environmentVariable name="COMPLUS_ForceENC" value="1" />
        <environmentVariable name="ASPNETCORE_DETAILEDERRORS" value="true" />
      </environmentVariables>
    </aspNetCore>
    <!-- allow to upload heavy files -->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="524288000" />
      </requestFiltering>
    </security>
    <httpErrors errorMode="Custom">
      <remove statusCode="404" />
      <remove statusCode="500" />
      <error path="/Error/400" statusCode="400" responseMode="ExecuteURL" />
      <error path="/Error/500" statusCode="500" responseMode="ExecuteURL" />
    </httpErrors>
    <staticContent>
      <mimeMap fileExtension="." mimeType="text/html" />
    </staticContent>
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp from="support@digimoallem.ir">
        <network host="mail.digimoallem.ir" port="25" password="@pou.nay681!" userName="support@digimoallem" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
<!--ProjectGuid: 7ae2716b-0186-43e5-9f9a-a2d64339ce82-->