@page "{id:min(1)}"
@model DigiMoallem.Web.Pages.Admin.Messages.DeleteModel

@{
    ViewData["Title"] = "حذف پیام";
}

    <div class="container">
        @if (ViewData["Message"] != null)
        {
            <div class="alert alert-danger">
                <i class="fa fa-exclamation-circle fa-fw"></i> @ViewData["Message"]
            </div>
        }

        <a asp-page="Index" class="btn btn-primary border border-info text-capitalize my-4">
            <i class="fas fa-arrow-right fa-fw"></i> بازگشت
        </a>

        <form method="post">

            <input type="hidden" asp-for="Contact.ContactId" />

            <div class="card border-primary mb-3">
                <header class="card-header">PhoneNumber: <span class="text-light">@Model.Contact.PhoneNumber</span></header>

                <div class="card-body">
                    <p class="card-text text-light">@Model.Contact.Description</p>

                    <hr />

                    <div class="clearfix">
                        <span class="small float-left">@Model.Contact.SubmitDate.ToPersianDate()</span>

                        <span class="float-right">
                            @if (Model.Contact.IsChecked)
                            {
                                <span class="badge badge-success text-light">Checked</span>
                            }
                            else
                            {
                                <span class="badge badge-danger text-capitalize">Not checked</span>
                            }
                        </span>
                    </div>
                </div>

                <footer class="card-footer">
                    <span class="small">
                        <button type="submit" class="btn btn-outline-danger">
                            <i class="fa fa-trash-alt fa-fw"></i> حذف
                        </button>
                    </span>
                </footer>
            </div>
        </form>


    </div>