
@{
    ViewData["Title"] = "درباره دیجی معلم";
}

<div class="container my-4">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-12">

            <div class="card border-primary my-5">
                <div class="card-header">
                    <i class="fa fa-info-circle ml-2"></i> @ViewData["Title"]
                </div>
                <div class="card-body">

                    <p>
                        این محصول به منظور فراهم آوردن بستری برای یادگیری برای همه و در هر زمان و مکانی تهیه شد.
                    </p>

                    <p>
                        شایان ذکر است این محصول توسط تیمی متشکل از متخصص و فارغ التحصیلان دانشگاهی در مرکز رشد دانشگاه آزاد اسلامی واحد تهران شمال طراحی، تولید و مدیریت میشود.
                    </p>

                    <div class="clearfix">
                        <img src="~/images/resources/logo.png"
                             alt="لوگو دیجی معلم"
                             class="img-fluid float-left" />
                    </div>

                </div>
            </div>

        </div>
        <div class="col-lg-6 col-md-6 col-12">

            <img src="~/images/resources/about-us.svg"
                 alt="درباره دیجی معلم"
                 class="img-fluid my-4" />

        </div>
    </div>
</div>
