@model IndexViewModel

@{
    ViewBag.Title = "صفحه اصلی";
}

<div class="container clearfix">

    <h1 class="text-center title-font-size my-5 pt-5">با دیجی معلم، سریع، آسان و مطمئن یاد بگیر</h1>

    <!-- search box -->
    <partial name="_SearchWidgetPartial" />

    <!-- categories -->
    <div class="row mx-auto">
        @foreach (var group in Model.Groups)
        {
            <partial name="_GroupPartial" model="group" />
        }
    </div>

    <br /><br />

    <h3 class="my-3 py-3 border-bottom border-dark">
        <i class="fa fa-clock ml-2"></i> جدیدترین دوره ها
    </h3>

    <!-- latest courses -->
    <div class="row mx-auto pb-5">
        @foreach (var course in Model.LatestCourses)
        {
            <partial name="_CoursePartial" model="course" />
        }
    </div>

    <br /><br />

    @if (Model.LatestFavoriteCourses.Any())
    {
        <h3 class="my-3 py-3 border-bottom border-dark">
            <i class="fa fa-trophy ml-2"></i> برترین دوره ها
        </h3>

        <!-- favorite courses -->
        <div class="row mx-auto pb-5">
            @foreach (var course in Model.LatestFavoriteCourses)
            {
                <partial name="_CoursePartial" model="course" />
            }
        </div>
    }

</div>